html,
body {
    height: 100%;
}
label
{
    font-family: Gotham-Book;   
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.addressForm {
    border-radius: 25px;
    background-color: #f1efef;
    color: #89898e;
    width: 100%;
    border: 1px solid #f1efef;
    padding: 2px 15px;
}
.addressInput
{
    width: 85%;
    border-radius: 25px 0 0 25px;
}
.displayFlex
{
    display: flex;
}
.pac-container
{
    z-index: 1100;
    border-radius: 0 0 7px 7px;
}
.addressSearch
{
    box-shadow: 0px 0px 5px 0px #f1efef;
    top: 10px !important;
    border-radius: 7px;
    height: 30px;
    width: 250px;
    padding: 0 15px 0 15px;
    outline: none;
    border: 0;
    color: #89898e;
}
.submit
{
    width: 100%;
    background-color: #ea4335;
    color: #fff;
    border-radius: 13px;
    bottom: 0px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}
.submit-success
{
    width: 100%;
    background-color: #289b30;
    color: #fff;
    border-radius: 13px;
    bottom: 0px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}
.vcenter 
{
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.m-0
{
    margin: 0px !important;
}
.mt-5
{
    margin-top: 5px !important;
}
.mb-5
{
    margin-bottom: 5px !important;
}
.mt-10
{
    margin-top: 10px !important;
}
.mb-10
{
    margin-bottom: 10px !important;
}
.p-0
{
    padding: 0px !important;
}
.py-10
{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.py-15
{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.px-0
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.px-15
{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.pos-tr
{
    position: fixed;
    z-index: 1;
    right: 10px;
    top: 10px;
}
@font-face {
    font-family: Gotham-Black;
    src: url(../fonts/Gotham-Black.woff);
}
@font-face {
    font-family: Gotham-BlackIta;
    src: url(../fonts/Gotham-BlackIta.woff);
}
@font-face {
    font-family: Gotham-Bold;
    src: url(../fonts/Gotham-Bold.woff);
}
@font-face {
    font-family: Gotham-BoldIta;
    src: url(../fonts/Gotham-BoldIta.woff);
}
@font-face {
    font-family: Gotham-Book;
    src: url(../fonts/Gotham-Book.woff);
}
@font-face {
    font-family: Gotham-BookIta;
    src: url(../fonts/Gotham-BookIta.woff);
}
@font-face {
    font-family: Gotham-Light;
    src: url(../fonts/Gotham-Light.woff);
}
@font-face {
    font-family: Gotham-LightIta;
    src: url(../fonts/Gotham-LightIta.woff);
}
@font-face {
    font-family: Gotham-Medium;
    src: url(../fonts/Gotham-Medium.woff);
}
@font-face {
    font-family: Gotham-MediumIta;
    src: url(../fonts/Gotham-MediumIta.woff);
}
@font-face {
    font-family: Gotham-Thin;
    src: url(../fonts/Gotham-Thin.woff);
}
@font-face {
    font-family: Gotham-ThinIta;
    src: url(../fonts/Gotham-ThinIta.woff);
}
@font-face {
    font-family: Gotham-Ultra;
    src: url(../fonts/Gotham-Ultra.woff);
}
@font-face {
    font-family: Gotham-UltraIta;
    src: url(../fonts/Gotham-UltraIta.woff);
}
@font-face {
    font-family: Gotham-XLight;
    src: url(../fonts/Gotham-XLight.woff);
}
@font-face {
    font-family: Gotham-XLightIta;
    src: url(../fonts/Gotham-XLightIta.woff);
}
.gotham-medium
{
    font-family: Gotham-Medium;
}
.modal-content
{
    overflow: hidden;
}
.control-label
{
    color: #79797e; 
}
.hr-888
{
    border-top: 1px solid #888;
}
.auth-facebook-btn
{
    background-color: #00689d;
    width: 80%;
    color: #fff;
    border-radius: 13px;
    bottom: 0px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin: 0px 10%;
}
.btn-circle-xl 
{
    width: 80px;
    height: 80px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 0.8;
    background-color: #f1efef;
    outline: none !important;
}
.btn-circle-xl-active
{
    border-width: 3px;
    border-color: #79797e;
}
.address-list-label
{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #79797e;
}
.navbar-brand.image
{
    padding: 10px 15px 5px 5px!important;
}
.navbar-nav .address
{
    padding: 0px !important;
    width: 100%;
}
.navbar-nav .address label.title
{
    font-size: 10px;
    font-family: Gotham-Bold;
    height: 10px;
    width: 100%;
}
.navbar-nav .address label.address
{
    font-size: 12px;
    font-family: Gotham-Light;
}
.search-bar
{
    width: 250px !important;
    border-radius: 25px;
    background-color: #fff;
    color: #89898e;
    width: 100%;
    border: 1px solid #f1efef;
    padding: 2px 15px;
}
.accordion-section 
{
    height: 450px;
    width: 0px;
    position: absolute;
    top: 0%;
    left: 100%;
    z-index: 1;
    overflow: hidden;
}
@keyframes vacordion-right-slide {
    from 
    {
        left: -120%;
    }
    to 
    {
        left: 0%;
    }
}
@keyframes vacordion-left-slide {
    from 
    {
        left: 0%;
    }
    to 
    {
        left: -120%;
    }
}
.scroll-open
{
    animation-name: vacordion-right-slide;
    animation-duration: 0.5s;    
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.scroll-close
{
    animation-name: vacordion-left-slide;
    animation-duration: 0.5s;    
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.accordion-item 
{
    height: 40px;
    background-color: #fff;
    margin: 0 5px 0 5px !important;
    border-bottom: 1px solid #f1efef;
}
.accordion-item:first-child 
{
    height: 40px;
    border-radius: 10px 10px 0 0;
    margin: 5px 5px 0 5px !important;
    border-bottom: 1px solid #f1efef;
}
.accordion-item:last-child
{
    height: 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 5px 5px 5px !important;
}
.accordion-item .icon
{
    height: 100%;
    color: #79797e;
    display: flex;
    justify-content: center;
    align-items: center;

}
.accordion-item label.title
{
    font-size: 15px;
    font-family: Gotham-Bold;
    height: 15px;
    width: 100%;
}
.accordion-item label.address
{
    font-size: 10px;
    font-family: Gotham-Light;
    color: #79797e;
}
.scrollbar
{
    height: fit-content;
    max-height: 450px;
    overflow-y: auto;
    background-color: #f1efef;
    position: absolute;
    left: -120%;
}
.scrollbar::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 10px; 
}
.scrollbar::-webkit-scrollbar 
{
    width: 5px;
    background-color: #f5f5f5; 
}
.scrollbar::-webkit-scrollbar-thumb 
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ff3547; 
}