.btn-send-message,.btn-login { 
    box-sizing: border-box;
    padding: 0 30px;
    text-align: center; 
    color: #fff;
    font-size: 15px;
    font-family: 'GothamRoundedBook';
    background: linear-gradient(to bottom, #c85440, #e93f33);
    border: none;
    transition: 0.4s;
    height: 42px;
    width: 100%;
    line-height: 42px;
    border-radius: 500px;
    font-family: Gotham-Medium;
}
.btn-back { 
    box-sizing: border-box;
    padding: 0 30px;
    text-align: center; 
    color: #fff;
    font-size: 15px;
    font-family: 'GothamRoundedBook';
    background: linear-gradient(to bottom, #c85440, #e93f33);
    border: none;
    transition: 0.4s;
    height: 42px;
    line-height: 42px;
    border-radius: 500px;
    font-family: Gotham-Medium;
}
#form-password-reset{
    text-align:center;
}
#form-password-change{
    text-align:center;
}
#login-form,#register-form{
    text-align: left;
}
.btn-facebook{ 
    box-sizing: border-box;
    padding: 0 30px;
    text-align: center; 
    color: #fff;
    font-size: 15px;
    font-family: 'GothamRoundedBook';
    background: #4267b2;
    border: none;
    transition: 0.4s;
    height: 42px;
    width: 100%;
    line-height: 42px;
    border-radius: 500px;
    font-family: Gotham-Medium;
    float: left;
    margin-top: 10px;
    text-decoration: none;
}
.btn-facebook:hover{
    color:#fff;
}

.btn-update{ 
    box-sizing: border-box;
    padding: 0 30px;
    text-align: center; 
    color: #fff;
    font-size: 15px;
    font-family: 'GothamRoundedBook';
    background: linear-gradient(to bottom, #81a93c, #5b993c);
    border: none;
    transition: 0.4s;
    height: 42px;
    width: 100%;
    line-height: 42px;
    border-radius: 500px;
    font-family: Gotham-Medium;
    float: left;
    margin-top: 10px;
    text-decoration: none;
}

/*=================== ESTILOS PARA LA SECCION DE ORDENES ==============*/
.btn-category{
    background: #e93f33;
    border: none;
}
.btn-status{
    background: #5b993c; 
    border: none;
}
.order{
    border: 1px solid #DDD;
    border-radius: 10px;
    padding: 10px;
    background: #DDD;
    margin: 10px 0px 10px 0px;
}
.colLeft{
    width: 50%;
    text-align: left;
}
.colRight{
    width: 50%;
    text-align: right;
}